<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsz.xiaolanshu.notice.biz.mapper.NoticeDOMapper">
  <resultMap id="BaseResultMap" type="com.wsz.xiaolanshu.notice.biz.domain.dataobject.NoticeDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="receiver_id" jdbcType="BIGINT" property="receiverId" />
    <result column="sender_id" jdbcType="BIGINT" property="senderId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="sub_type" jdbcType="TINYINT" property="subType" />
    <result column="target_id" jdbcType="BIGINT" property="targetId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, receiver_id, sender_id, `type`, sub_type, target_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_notice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_notice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.wsz.xiaolanshu.notice.biz.domain.dataobject.NoticeDO">
    insert into t_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="receiverId != null">
        receiver_id,
      </if>
      <if test="senderId != null">
        sender_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="subType != null">
        sub_type,
      </if>
      <if test="targetId != null">
        target_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="receiverId != null">
        #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="senderId != null">
        #{senderId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="subType != null">
        #{subType,jdbcType=TINYINT},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsz.xiaolanshu.notice.biz.domain.dataobject.NoticeDO">
    update t_notice
    <set>
      <if test="receiverId != null">
        receiver_id = #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="senderId != null">
        sender_id = #{senderId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="subType != null">
        sub_type = #{subType,jdbcType=TINYINT},
      </if>
      <if test="targetId != null">
        target_id = #{targetId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsz.xiaolanshu.notice.biz.domain.dataobject.NoticeDO">
    update t_notice
    set receiver_id = #{receiverId,jdbcType=BIGINT},
      sender_id = #{senderId,jdbcType=BIGINT},
      `type` = #{type,jdbcType=TINYINT},
      sub_type = #{subType,jdbcType=TINYINT},
      target_id = #{targetId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.wsz.xiaolanshu.notice.biz.domain.dataobject.NoticeDO">
    INSERT INTO t_notice (id, receiver_id, sender_id, type, sub_type, target_id)
    VALUES (#{id}, #{receiverId}, #{senderId}, #{type}, #{subType}, #{targetId})
  </insert>

  <select id="selectCountByReceiverIdAndType" resultType="java.lang.Long">
    SELECT COUNT(1) FROM t_notice
    WHERE receiver_id = #{receiverId} AND type = #{type} AND is_deleted = 0
  </select>

  <select id="selectPageList" resultType="com.wsz.xiaolanshu.notice.biz.domain.dataobject.NoticeDO">
    SELECT * FROM t_notice
    WHERE receiver_id = #{receiverId} AND type = #{type} AND is_deleted = 0
    ORDER BY create_time DESC
      LIMIT #{offset}, #{limit}
  </select>

    <select id="selectNoticeIdByBusinessKey" resultType="java.lang.Long">
      select id
      from t_notice
      WHERE sender_id = #{senderId}
        AND receiver_id = #{receiverId}
        AND type = #{type}
        AND target_id = #{targetId}
    </select>

    <update id="deleteByBusinessKey">
    UPDATE t_notice
    SET is_deleted = 1
    WHERE sender_id = #{senderId}
      AND receiver_id = #{receiverId}
      AND type = #{type}
      AND target_id = #{targetId}
  </update>

  <select id="selectByIds" resultType="com.wsz.xiaolanshu.notice.biz.domain.dataobject.NoticeDO">
    SELECT * FROM t_notice
    WHERE id IN
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
    AND is_deleted = 0
  </select>
</mapper>